.text-center{
    text-align: center;
}

/* VIDEO */
#video-remote {
    position: fixed; /* Fixes video relative to viewport */
    top: 50%; /* Positions video in vertical center */
    left: 50%; /* Positions video in horizontal center */
    width: 100%; /* Sets width to 100% of viewport */
    height: 100%; /* Sets height to 100% of viewport */
    object-fit: contain; /* Ensures entire video fits within container */
    transform: translate(-50%, -50%); /* Centers video */
    z-index: -100; /* Places video behind other elements */
    background: black; /* Adds a black background for any empty areas */
}

#video-local {
    position: fixed; /* Fixes video relative to screen */
    bottom: 0;       /* Aligns video to bottom edge */
    right: 0;        /* Aligns video to right edge */
    width: 30%;      /* Sets width to 30% of screen width */
    height: auto;    /* Maintains aspect ratio by auto-calculating height */
    max-height: 30%; /* Restricts maximum height to 30% of screen height */
    z-index: 1000;   /* Ensures video stays above other elements */
    opacity: 1;      /* Fully visible by default */
    visibility: visible; /* Element is visible */
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out; /* Smooth transition */
}

/* Full-screen local video */
#video-local.full-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-height: none; /* Remove height restriction */
    transform: translate(-50%, -50%); /* Centers video */
}

/* Hidden local video  */
#video-local.hidden {
    opacity: 0;          /* Fully transparent */
    visibility: hidden;  /* Removed from document flow */
}

/* Adaptation for smaller screens */
@media (max-width: 768px) {
    #video-local {
        width: 50%; /* Increases width to 50% on smaller screens */
        max-height: 40%; /* Increases maximum height to 40% for better visibility */
    }
}

/* _VIDEO */

/* SNACKBAR */
/* The snackbar - position it at bottom and in middle of screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(158,31,99,0.9); /* background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of screen */
    z-index: 1; /* Add a z-index if needed */
    right: 0; /* Right snackbar */
    top: 90px; /* 90px from top */
}

/* Show snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show snackbar */
}

/* Animations to fade snackbar in and out */
@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {top: 90px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {top: 90px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 90px; opacity: 1;} 
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 90px; opacity: 1;}
    to {right: 0; opacity: 0;}
}
/* _SNACKBAR */

/* CONTROL BUTTONS */
#control-buttons-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between buttons */
    z-index: 1100;
}

/* Disable hover effect for disabled buttons */
#control-buttons-container button:disabled:hover {
    transform: none; /* Prevent size change */
    background-color: grey; /* Ensure it stays grey */
    color: white; /* Ensure text/icon stays white */
    cursor: not-allowed; /* Keep not-allowed cursor */
}

/* END CALL BUTTON */
#end-call {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#end-call:hover {
    background-color: darkred;
    transform: scale(1.1);
}

#end-call:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    opacity: 0.5;
    transition: none; /* Disable any hover animations */
}

/* TOGGLE VIDEO BUTTON */
/* Video off */
#toggle-video {
    background-color: #ffffff; /* White background */
    color: #6C6C6C; /* Gray center */
    border: none;
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Video on */
#toggle-video.btn-enabled {
    background-color: #6C6C6C; /* Gray background */
    color: #ffffff; /* White icon */
}

#toggle-video:hover {
    background-color: #6C6C6C;
    color: #ffffff;
    transform: scale(1.1);
}

#toggle-video:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    opacity: 0.5;
    transition: none; /* Disable any hover animations */
}
/* _CONTROL BUTTONS */
