.text-center{
    text-align: center;
}

/* VIDEO */
#peerVid {
    position: fixed; /* Fixes the video relative to the viewport */
    top: 50%; /* Positions the video in the vertical center */
    left: 50%; /* Positions the video in the horizontal center */
    width: 100%; /* Sets the width to 100% of the viewport */
    height: 100%; /* Sets the height to 100% of the viewport */
    object-fit: contain; /* Ensures the entire video fits within the container */
    transform: translate(-50%, -50%); /* Centers the video */
    z-index: -100; /* Places the video behind other elements */
    background: black; /* Adds a black background for any empty areas */
}

#myVid {
    position: fixed; /* Fixes the video relative to the screen */
    bottom: 0;       /* Aligns the video to the bottom edge */
    right: 0;        /* Aligns the video to the right edge */
    width: 30%;      /* Sets the width to 30% of the screen width */
    height: auto;    /* Maintains aspect ratio by auto-calculating height */
    max-height: 30%; /* Restricts the maximum height to 30% of the screen height */
    z-index: 1000;   /* Ensures the video stays above other elements */
}

/* Adaptation for smaller screens */
@media (max-width: 768px) {
    #myVid {
        width: 50%; /* Increases width to 50% on smaller screens */
        max-height: 40%; /* Increases maximum height to 40% for better visibility */
    }
}

/* _VIDEO */

/* SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(158,31,99,0.9); /* background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 0; /* Right the snackbar */
    top: 90px; /* 90px from the top */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {top: 90px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {top: 90px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 90px; opacity: 1;} 
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 90px; opacity: 1;}
    to {right: 0; opacity: 0;}
}
/* _SNACKBAR */

/* END CALL */
#endCallContainer {
    position: fixed;
    bottom: 20px; /* Position the button 20px above the bottom */
    width: 100%;  /* Center the button horizontally */
    z-index: 1100; /* Ensure it appears above other elements */
}

#endCall {
    display: inline-block;
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#endCall:hover {
    background-color: darkred; /* Darker red when hovered */
}

#endCall:disabled {
    background-color: grey; /* Sets the background color for the disabled button */
    cursor: not-allowed;    /* Changes the cursor to indicate the button is not clickable */
    opacity: 0.5;           /* Reduces the opacity to visually indicate a disabled state */
}
/* _END CALL */
